body {
    background-image: url("background-01.jpg");
    background-repeat: repeat;
    background-size: auto;
}

.page-card {
    background-color: white;
}

.timer {
    width: auto;
}

.icon-img {
    max-height: 250px;
    height: auto;
    width: auto;
}

.icons {
    text-align: center;
    border: solid 1.5px; 
    border-color: black;
}

.icons-text {
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
}

.profile-pic {
    padding-top: 50px;
    height: 350px; 
    width: auto;
}

.footer {
    color: white;
    background-color: black;
}


#id {
    font-family: "Poppins", sans-serif;
    font-weight: 900;

}

.counter {
    font-family: 'Poppins', sans-serif; 
    font-weight: 500; 
    font-size: 120px; 
    padding-top: 50px; 
    padding-bottom: 50px;
}

.counter-text {
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
}

.fourth-text {
    font-family: 'Poppins', sans-serif; 
    font-weight: 800;
}

.fourth-h1 {
    letter-spacing: 3px;
    padding-left: 100px;
    padding-top: 50px;
    font-size: 60px;   
}

.first-card-text {
    font-family: 'Poppins', sans-serif; 
    font-weight: 800; 
    margin-left: 10px;
}

.filled {
    fill: url('pt.jpeg');
}