body {
    background-image: url("background-01.jpg");
    background-repeat: repeat;
    background-size: auto;
}

.page-card {
    background-color: white;
}

.timer {
    width: auto;
}

.icon-img {
    height: 250px;
    width: auto;
}

.icons {
    text-align: center;
}

.icons-text {
    text-align: center;
}

.profile-pic {
    height: 500px;
    width: auto;
}

.footer {
    color: white;
}

.main {
    padding-left: 100px;
    padding-right: 100px;
    
}

#id {
    font-family: "Poppins", sans-serif;
    font-weight: 900;

}

.counter {
    font-family: 'Poppins', sans-serif; 
    font-weight: 500; 
    font-size: 120px; 
    padding-top: 50px; 
    padding-bottom: 50px;
}

.counter-text {
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
}